<!DOCTYPE html>
<html>
  <head>
  <style>
  h1
  {
  font-family:futura;
  font-size:45px;
  color:#2980b9;
  }
  </style>
    <title>Caf Buddy</title>
  </head>
  <center>
  <body>
    <h1>Welcome to Caf Buddy's Offical Homepage</h1>
    <p><%= message %></p>
  </body>
  </center>
</html>
